* {
    box-sizing: border-box;
}

body {
    background: white;
}

.container {
    width: 702px;
    display: flex;
    border: 1px solid #7B899B;
}

.toolbar {
    font-family: 'Trebuchet MS';
    font-size: 14px;
    text-align: center;
    background: #F2F7FE;
    padding: 5px 9px 3px 5px;
    margin-bottom: 1px;
    margin-right: 1px;
}

.toolbar-button {
    padding: 6px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    background: #F2F7FE;
}

canvas {
    border: 1px solid #7B899B;
}

img {
    padding: 2px;
    border: 2px solid #F2F7FE;
}

img:hover {
    border: 2px groove #E4F0FE;
    background: white;
}